.center {
    text-align: center;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.separate-options {
    margin-bottom: 20px;
}

.conversion-buttons {
    margin-top: 20px;
}

.big-button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
}

.big-button:hover {
    background-color: #3e8e41;
}

.reset-button {
    margin-left: 10px;
    background-color: #ff9800;
}

.reset-button:hover {
    background-color: #ff9900;
}

.result-container {
    margin-top: 20px;
    text-align: center;
}

.result-box {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
}