<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Converter</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 class="center"> Temperature Converter</h1>
        <form action="/convert" method="POST" class="center-form">
            <label for="temperature">Enter Temperature:</label>
            <input type="number" id="temperature" name="temperature" required>

            <div class="separate-options">
                <label for="conversionType">Choose Conversion Type:</label>
                <select id="conversionType" name="conversionType">
                    <option value="celsiusToFahrenheit">Celsius to Fahrenheit</option>
                    <option value="fahrenheitToCelsius">Fahrenheit to Celsius</option>
                    <option value="celsiusToKelvin">Celsius to Kelvin</option>
                    <option value="kelvinToCelsius">Kelvin to Celsius</option>
                    <option value="fahrenheitToKelvin">Fahrenheit to Kelvin</option>
                    <option value="kelvinToFahrenheit">Kelvin to Fahrenheit</option>
                </select>
            </div>

            <div class="conversion-buttons">
                <button type="submit" class="big-button">Convert</button>
                <button type="reset" class="big-button reset-button">Reset</button>
            </div>
        </form>

        <!-- Display the result here -->
        <div class="result-container">
            <div class="result-box">
                <p th:if="${result != null}" th:text="${result}"></p>
            </div>
        </div>
    </div>
</body>
</html>